<h1><%= @chef_name %></h1>


<iframe src="https://giphy.com/embed/583D8jvar65CMoETxU" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bbc-royal-wedding-royalwedding-583D8jvar65CMoETxU"></a></p>
